In [1]:
import pandas as pd
import numpy as np

In [5]:
master = pd.read_csv('datasets/master.csv', index_col=0)

In [6]:
master.head()

,County,year,CDC Week,FIPS,County Centroid,Week Ending Date,Count,Disease_INFLUENZA_A,Disease_INFLUENZA_B,Disease_INFLUENZA_UNSPECIFIED,...,cough,soreThroat,Target,VaxRate,PRCP,SNOW,TAVG,TMAX,TMIN,SNOWDepth
0,ALBANY,2009,40,36001,"(42.5882713, -73.9740136)",10/10/2009,4,4,0,0,...,0.112639,0.087600,27.0,NaN,0.058333,0.0,54.642857,61.285714,48.000000,0.0
1,ALBANY,2009,41,36001,"(42.5882713, -73.9740136)",10/17/2009,11,11,0,0,...,0.083486,0.067525,87.0,NaN,0.058571,0.0,52.000000,60.000000,44.000000,0.0
2,ALBANY,2009,42,36001,"(42.5882713, -73.9740136)",10/24/2009,27,27,0,0,...,0.156241,0.091104,77.0,NaN,0.041667,0.0,39.071429,48.285714,29.857143,0.0
3,ALBANY,2009,43,36001,"(42.5882713, -73.9740136)",10/31/2009,87,86,1,0,...,0.214376,0.078840,61.0,NaN,0.303333,0.0,48.000000,58.857143,37.142857,0.0
4,ALBANY,2009,44,36001,"(42.5882713, -73.9740136)",11/07/2009,77,76,1,0,...,0.246318,0.125195,29.0,NaN,0.212857,0.0,48.857143,56.285714,41.428571,0.0

In [24]:
master.isna().sum()

County                               0
year                                 0
CDC Week                             0
FIPS                                 0
County Centroid                      0
Week Ending Date                     0
Count                                0
Disease_INFLUENZA_A                  0
Disease_INFLUENZA_B                  0
Disease_INFLUENZA_UNSPECIFIED        0
UnempRate                         1550
GDP                              12648
GDP_change                       14694
Population                        2294
flu                               1488
fluSymptoms                       1488
fever                             1488
cough                             1488
soreThroat                        1488
Target                             124
VaxRate                          10540
PRCP                               175
SNOW                              2943
TAVG                               174
TMAX                               171
TMIN                               173
SNOWDepth                         3359
dtype: int64

In [22]:
def replace_na(df, row):
    for column in ['PRCP', 'SNOW', 'TMIN', 'TMAX', 'TAVG', 'SNOWDepth']:
        if np.isnan(row[column]):
            row[column] = df[(df['County']==row['County']) & (df['CDC Week'] == row['CDC Week'])][column].mean()
    return row

In [25]:
new = master.apply(lambda x: replace_na(master, x), axis=1)

In [27]:
new.head()

,County,year,CDC Week,FIPS,County Centroid,Week Ending Date,Count,Disease_INFLUENZA_A,Disease_INFLUENZA_B,Disease_INFLUENZA_UNSPECIFIED,...,cough,soreThroat,Target,VaxRate,PRCP,SNOW,TAVG,TMAX,TMIN,SNOWDepth
0,ALBANY,2009,40,36001,"(42.5882713, -73.9740136)",10/10/2009,4,4,0,0,...,0.112639,0.087600,27.0,NaN,0.058333,0.0,54.642857,61.285714,48.000000,0.0
1,ALBANY,2009,41,36001,"(42.5882713, -73.9740136)",10/17/2009,11,11,0,0,...,0.083486,0.067525,87.0,NaN,0.058571,0.0,52.000000,60.000000,44.000000,0.0
2,ALBANY,2009,42,36001,"(42.5882713, -73.9740136)",10/24/2009,27,27,0,0,...,0.156241,0.091104,77.0,NaN,0.041667,0.0,39.071429,48.285714,29.857143,0.0
3,ALBANY,2009,43,36001,"(42.5882713, -73.9740136)",10/31/2009,87,86,1,0,...,0.214376,0.078840,61.0,NaN,0.303333,0.0,48.000000,58.857143,37.142857,0.0
4,ALBANY,2009,44,36001,"(42.5882713, -73.9740136)",11/07/2009,77,76,1,0,...,0.246318,0.125195,29.0,NaN,0.212857,0.0,48.857143,56.285714,41.428571,0.0

In [26]:
new.isna().sum()

County                               0
year                                 0
CDC Week                             0
FIPS                                 0
County Centroid                      0
Week Ending Date                     0
Count                                0
Disease_INFLUENZA_A                  0
Disease_INFLUENZA_B                  0
Disease_INFLUENZA_UNSPECIFIED        0
UnempRate                         1550
GDP                              12648
GDP_change                       14694
Population                        2294
flu                               1488
fluSymptoms                       1488
fever                             1488
cough                             1488
soreThroat                        1488
Target                             124
VaxRate                          10540
PRCP                                 0
SNOW                               338
TAVG                                 0
TMAX                                 0
TMIN                                 0
SNOWDepth                          362
dtype: int64

In [28]:
new.to_csv('datasets/master.csv')

In [47]:
def fill_snow(df, row):
    for column in ['SNOW', 'SNOWDepth']:
        if np.isnan(row[column]):
            row[column] = df[df['CDC Week'] == row['CDC Week']][column].mean()
    return row

In [50]:
new2 = new.apply(lambda x: fill_snow(new, x), axis=1)

In [52]:
new2.isna().sum()

County                               0
year                                 0
CDC Week                             0
FIPS                                 0
County Centroid                      0
Week Ending Date                     0
Count                                0
Disease_INFLUENZA_A                  0
Disease_INFLUENZA_B                  0
Disease_INFLUENZA_UNSPECIFIED        0
UnempRate                         1550
GDP                              12648
GDP_change                       14694
Population                        2294
flu                               1488
fluSymptoms                       1488
fever                             1488
cough                             1488
soreThroat                        1488
Target                             124
VaxRate                          10540
PRCP                                 0
SNOW                                 0
TAVG                                 0
TMAX                                 0
TMIN                                 0
SNOWDepth                            0
dtype: int64