In [1]:
import pandas as pd
import numpy as np

In [5]:
master = pd.read_csv('datasets/master.csv', index_col=0)

In [6]:
master.head()

,County,year,CDC Week,FIPS,County Centroid,Week Ending Date,Count,Disease_INFLUENZA_A,Disease_INFLUENZA_B,Disease_INFLUENZA_UNSPECIFIED,...,cough,soreThroat,Target,VaxRate,PRCP,SNOW,TAVG,TMAX,TMIN,SNOWDepth
0,ALBANY,2009,40,36001,"(42.5882713, -73.9740136)",10/10/2009,4,4,0,0,...,0.112639,0.087600,27.0,NaN,0.058333,0.0,54.642857,61.285714,48.000000,0.0
1,ALBANY,2009,41,36001,"(42.5882713, -73.9740136)",10/17/2009,11,11,0,0,...,0.083486,0.067525,87.0,NaN,0.058571,0.0,52.000000,60.000000,44.000000,0.0
2,ALBANY,2009,42,36001,"(42.5882713, -73.9740136)",10/24/2009,27,27,0,0,...,0.156241,0.091104,77.0,NaN,0.041667,0.0,39.071429,48.285714,29.857143,0.0
3,ALBANY,2009,43,36001,"(42.5882713, -73.9740136)",10/31/2009,87,86,1,0,...,0.214376,0.078840,61.0,NaN,0.303333,0.0,48.000000,58.857143,37.142857,0.0
4,ALBANY,2009,44,36001,"(42.5882713, -73.9740136)",11/07/2009,77,76,1,0,...,0.246318,0.125195,29.0,NaN,0.212857,0.0,48.857143,56.285714,41.428571,0.0

In [24]:
master.isna().sum()

County                               0
year                                 0
CDC Week                             0
FIPS                                 0
County Centroid                      0
Week Ending Date                     0
Count                                0
Disease_INFLUENZA_A                  0
Disease_INFLUENZA_B                  0
Disease_INFLUENZA_UNSPECIFIED        0
UnempRate                         1550
GDP                              12648
GDP_change                       14694
Population                        2294
flu                               1488
fluSymptoms                       1488
fever                             1488
cough                             1488
soreThroat                        1488
Target                             124
VaxRate                          10540
PRCP                               175
SNOW                              2943
TAVG                               174
TMAX                               171
TMIN                               173
SNOWDepth                         3359
dtype: int64

In [22]:
def replace_na(df, row):
    for column in ['PRCP', 'SNOW', 'TMIN', 'TMAX', 'TAVG', 'SNOWDepth']:
        if np.isnan(row[column]):
            row[column] = df[(df['County']==row['County']) & (df['CDC Week'] == row['CDC Week'])][column].mean()
    return row

In [25]:
new = master.apply(lambda x: replace_na(master, x), axis=1)

In [27]:
new.head()

,County,year,CDC Week,FIPS,County Centroid,Week Ending Date,Count,Disease_INFLUENZA_A,Disease_INFLUENZA_B,Disease_INFLUENZA_UNSPECIFIED,...,cough,soreThroat,Target,VaxRate,PRCP,SNOW,TAVG,TMAX,TMIN,SNOWDepth
0,ALBANY,2009,40,36001,"(42.5882713, -73.9740136)",10/10/2009,4,4,0,0,...,0.112639,0.087600,27.0,NaN,0.058333,0.0,54.642857,61.285714,48.000000,0.0
1,ALBANY,2009,41,36001,"(42.5882713, -73.9740136)",10/17/2009,11,11,0,0,...,0.083486,0.067525,87.0,NaN,0.058571,0.0,52.000000,60.000000,44.000000,0.0
2,ALBANY,2009,42,36001,"(42.5882713, -73.9740136)",10/24/2009,27,27,0,0,...,0.156241,0.091104,77.0,NaN,0.041667,0.0,39.071429,48.285714,29.857143,0.0
3,ALBANY,2009,43,36001,"(42.5882713, -73.9740136)",10/31/2009,87,86,1,0,...,0.214376,0.078840,61.0,NaN,0.303333,0.0,48.000000,58.857143,37.142857,0.0
4,ALBANY,2009,44,36001,"(42.5882713, -73.9740136)",11/07/2009,77,76,1,0,...,0.246318,0.125195,29.0,NaN,0.212857,0.0,48.857143,56.285714,41.428571,0.0

In [26]:
new.isna().sum()

County                               0
year                                 0
CDC Week                             0
FIPS                                 0
County Centroid                      0
Week Ending Date                     0
Count                                0
Disease_INFLUENZA_A                  0
Disease_INFLUENZA_B                  0
Disease_INFLUENZA_UNSPECIFIED        0
UnempRate                         1550
GDP                              12648
GDP_change                       14694
Population                        2294
flu                               1488
fluSymptoms                       1488
fever                             1488
cough                             1488
soreThroat                        1488
Target                             124
VaxRate                          10540
PRCP                                 0
SNOW                               338
TAVG                                 0
TMAX                                 0
TMIN                                 0
SNOWDepth                          362
dtype: int64

In [28]:
new.to_csv('datasets/master.csv')

In [57]:
new[np.isnan(new['SNOW'])]

,County,year,CDC Week,FIPS,County Centroid,Week Ending Date,Count,Disease_INFLUENZA_A,Disease_INFLUENZA_B,Disease_INFLUENZA_UNSPECIFIED,...,cough,soreThroat,Target,VaxRate,PRCP,SNOW,TAVG,TMAX,TMIN,SNOWDepth
8530,MONROE,2015,53,36055,"(43.174966, -77.639663)",01/03/2015,775,772,2,1,...,0.481023,0.795516,9.0,0.607,0.212500,NaN,35.625000,40.000000,31.250000,NaN
13570,RICHMOND,2015,53,36085,"(40.5795, -74.1502)",01/03/2015,34,34,0,0,...,0.494637,0.768031,4.0,0.665,0.165000,NaN,37.250000,45.250000,29.250000,NaN
19072,WESTCHESTER,2009,40,36119,"(41.1527698, -73.745912)",10/10/2009,5,5,0,0,...,0.082560,0.162500,22.0,NaN,0.057143,NaN,57.285714,65.000000,49.571429,NaN
19073,WESTCHESTER,2009,41,36119,"(41.1527698, -73.745912)",10/17/2009,7,6,1,0,...,0.104880,0.103415,74.0,NaN,0.095000,NaN,56.285714,64.714286,47.857143,NaN
19074,WESTCHESTER,2009,42,36119,"(41.1527698, -73.745912)",10/24/2009,22,22,0,0,...,0.100620,0.202800,82.0,NaN,0.025000,NaN,42.571429,49.000000,36.142857,NaN
19075,WESTCHESTER,2009,43,36119,"(41.1527698, -73.745912)",10/31/2009,74,72,0,2,...,0.180540,0.140400,201.0,NaN,0.150000,NaN,53.571429,64.428571,42.714286,NaN
19076,WESTCHESTER,2009,44,36119,"(41.1527698, -73.745912)",11/07/2009,82,78,0,4,...,0.139920,0.171990,203.0,NaN,0.091667,NaN,51.928571,58.000000,45.857143,NaN
19077,WESTCHESTER,2009,45,36119,"(41.1527698, -73.745912)",11/14/2009,201,200,0,1,...,0.217800,0.214110,157.0,NaN,0.012857,NaN,45.214286,54.428571,36.000000,NaN
19078,WESTCHESTER,2009,46,36119,"(41.1527698, -73.745912)",11/21/2009,203,201,2,0,...,0.155820,0.143000,82.0,NaN,0.042500,NaN,53.142857,59.428571,46.857143,NaN
19079,WESTCHESTER,2009,47,36119,"(41.1527698, -73.745912)",11/28/2009,157,156,1,0,...,0.132540,0.196365,61.0,NaN,0.045714,NaN,48.428571,56.285714,40.571429,NaN
19080,WESTCHESTER,2009,48,36119,"(41.1527698, -73.745912)",12/05/2009,82,82,0,0,...,0.125460,0.144690,47.0,NaN,0.000000,NaN,47.285714,52.428571,42.142857,NaN
19081,WESTCHESTER,2009,49,36119,"(41.1527698, -73.745912)",12/12/2009,61,59,2,0,...,0.108240,0.106470,32.0,NaN,0.150000,NaN,42.285714,49.714286,34.857143,NaN
19082,WESTCHESTER,2009,50,36119,"(41.1527698, -73.745912)",12/19/2009,47,47,0,0,...,0.147000,0.083980,24.0,NaN,0.280000,NaN,32.642857,40.142857,25.142857,NaN
19083,WESTCHESTER,2009,51,36119,"(41.1527698, -73.745912)",12/26/2009,32,32,0,0,...,0.120000,0.190320,18.0,NaN,0.000000,NaN,29.571429,35.857143,23.285714,NaN
19084,WESTCHESTER,2010,1,36119,"(41.1527698, -73.745912)",01/09/2010,24,24,0,0,...,0.102120,0.146510,16.0,NaN,0.003333,NaN,24.571429,30.714286,18.428571,NaN
19085,WESTCHESTER,2010,2,36119,"(41.1527698, -73.745912)",01/16/2010,18,18,0,0,...,0.093060,0.097825,13.0,NaN,0.004286,NaN,30.642857,38.714286,22.571429,NaN
19086,WESTCHESTER,2010,3,36119,"(41.1527698, -73.745912)",01/23/2010,16,16,0,0,...,0.086580,0.192270,14.0,NaN,0.002000,NaN,35.000000,43.571429,26.428571,NaN
19087,WESTCHESTER,2010,4,36119,"(41.1527698, -73.745912)",01/30/2010,13,13,0,0,...,0.059520,0.191750,8.0,NaN,0.194000,NaN,28.428571,35.285714,21.571429,NaN
19088,WESTCHESTER,2010,5,36119,"(41.1527698, -73.745912)",02/06/2010,14,14,0,0,...,0.091200,0.117260,5.0,NaN,0.000000,NaN,26.785714,33.571429,20.000000,NaN
19089,WESTCHESTER,2010,6,36119,"(41.1527698, -73.745912)",02/13/2010,8,8,0,0,...,0.072960,0.159120,0.0,NaN,0.000000,NaN,30.142857,35.857143,24.428571,NaN
19090,WESTCHESTER,2010,7,36119,"(41.1527698, -73.745912)",02/20/2010,5,4,1,0,...,0.079920,0.146510,8.0,NaN,0.002000,NaN,34.000000,39.000000,29.000000,NaN
19091,WESTCHESTER,2010,8,36119,"(41.1527698, -73.745912)",02/27/2010,0,0,0,0,...,0.065340,0.125840,4.0,NaN,0.146000,NaN,33.000000,37.857143,28.142857,NaN
19092,WESTCHESTER,2010,9,36119,"(41.1527698, -73.745912)",03/06/2010,8,8,0,0,...,0.065100,0.090610,2.0,NaN,0.000000,NaN,38.642857,46.142857,31.142857,NaN
19093,WESTCHESTER,2010,10,36119,"(41.1527698, -73.745912)",03/13/2010,4,4,0,0,...,0.091200,0.168805,9.0,NaN,0.083333,NaN,45.071429,52.000000,38.142857,NaN
19094,WESTCHESTER,2010,11,36119,"(41.1527698, -73.745912)",03/20/2010,2,2,0,0,...,0.050400,0.140140,5.0,NaN,0.005714,NaN,50.642857,63.000000,38.285714,NaN
19095,WESTCHESTER,2010,12,36119,"(41.1527698, -73.745912)",03/27/2010,9,9,0,0,...,0.073500,0.113620,1.0,NaN,0.168333,NaN,43.428571,52.000000,34.857143,NaN
19096,WESTCHESTER,2010,13,36119,"(41.1527698, -73.745912)",04/03/2010,5,5,0,0,...,0.097200,0.158470,0.0,NaN,0.610000,NaN,52.642857,62.142857,43.142857,NaN
19097,WESTCHESTER,2010,14,36119,"(41.1527698, -73.745912)",04/10/2010,1,1,0,0,...,0.081900,0.229840,6.0,NaN,0.070000,NaN,59.357143,72.428571,46.285714,NaN
19098,WESTCHESTER,2010,15,36119,"(41.1527698, -73.745912)",04/17/2010,0,0,0,0,...,0.098280,0.171600,21.0,NaN,0.038333,NaN,49.928571,59.428571,40.428571,NaN
19099,WESTCHESTER,2010,16,36119,"(41.1527698, -73.745912)",04/24/2010,6,6,0,0,...,0.116100,0.149500,0.0,NaN,0.163333,NaN,53.142857,64.000000,42.285714,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19378,WESTCHESTER,2018,48,36119,"(41.1527698, -73.745912)",12/01/2018,38,34,4,0,...,0.479209,0.450983,78.0,NaN,0.285000,NaN,39.357143,45.142857,33.571429,NaN
19379,WESTCHESTER,2018,49,36119,"(41.1527698, -73.745912)",12/08/2018,58,53,5,0,...,0.476317,0.523757,99.0,NaN,0.000000,NaN,32.083333,39.000000,25.500000,NaN
19380,WESTCHESTER,2018,50,36119,"(41.1527698, -73.745912)",12/15/2018,78,76,2,0,...,0.494958,0.412327,180.0,NaN,0.195000,NaN,35.928571,42.142857,29.714286,NaN
19381,WESTCHESTER,2018,51,36119,"(41.1527698, -73.745912)",12/22/2018,99,96,3,0,...,0.566631,0.536551,217.0,NaN,0.446667,NaN,38.642857,46.000000,31.285714,NaN
19382,WESTCHESTER,2018,52,36119,"(41.1527698, -73.745912)",12/29/2018,180,177,3,0,...,0.803503,0.834817,259.0,NaN,0.145000,NaN,37.571429,44.000000,31.142857,NaN
19383,WESTCHESTER,2019,1,36119,"(41.1527698, -73.745912)",01/05/2019,217,214,3,0,...,0.701941,0.807595,320.0,NaN,0.296667,NaN,38.666667,45.500000,31.833333,NaN
19384,WESTCHESTER,2019,2,36119,"(41.1527698, -73.745912)",01/12/2019,259,254,5,0,...,NaN,NaN,492.0,NaN,0.040000,NaN,28.750000,34.333333,23.166667,NaN
19385,WESTCHESTER,2019,3,36119,"(41.1527698, -73.745912)",01/19/2019,320,313,7,0,...,NaN,NaN,480.0,NaN,0.205000,NaN,26.833333,33.833333,19.833333,NaN
19386,WESTCHESTER,2019,4,36119,"(41.1527698, -73.745912)",01/26/2019,492,483,9,0,...,NaN,NaN,565.0,NaN,0.336000,NaN,27.928571,36.285714,19.571429,NaN
19387,WESTCHESTER,2019,5,36119,"(41.1527698, -73.745912)",02/02/2019,480,476,4,0,...,NaN,NaN,575.0,NaN,0.054286,NaN,21.928571,32.142857,11.714286,NaN
19388,WESTCHESTER,2019,6,36119,"(41.1527698, -73.745912)",02/09/2019,565,546,18,1,...,NaN,NaN,472.0,NaN,0.103333,NaN,37.285714,46.714286,27.857143,NaN
19389,WESTCHESTER,2019,7,36119,"(41.1527698, -73.745912)",02/16/2019,575,566,9,0,...,NaN,NaN,300.0,NaN,0.172500,NaN,34.000000,40.714286,27.285714,NaN
19390,WESTCHESTER,2019,8,36119,"(41.1527698, -73.745912)",02/23/2019,472,454,17,1,...,NaN,NaN,255.0,NaN,0.201667,NaN,33.357143,39.857143,26.857143,NaN
19391,WESTCHESTER,2019,9,36119,"(41.1527698, -73.745912)",03/02/2019,300,289,11,0,...,NaN,NaN,359.0,NaN,0.140000,NaN,29.857143,34.857143,24.857143,NaN
19392,WESTCHESTER,2019,10,36119,"(41.1527698, -73.745912)",03/09/2019,255,240,14,1,...,NaN,NaN,315.0,NaN,0.097143,NaN,26.357143,33.857143,18.857143,NaN
19393,WESTCHESTER,2019,11,36119,"(41.1527698, -73.745912)",03/16/2019,359,336,23,0,...,NaN,NaN,198.0,NaN,0.051429,NaN,41.857143,50.571429,33.142857,NaN
19394,WESTCHESTER,2019,12,36119,"(41.1527698, -73.745912)",03/23/2019,315,291,24,0,...,NaN,NaN,201.0,NaN,0.140000,NaN,39.357143,48.142857,30.571429,NaN
19395,WESTCHESTER,2019,13,36119,"(41.1527698, -73.745912)",03/30/2019,198,185,13,0,...,NaN,NaN,133.0,NaN,0.026000,NaN,43.500000,52.714286,34.285714,NaN
19396,WESTCHESTER,2019,14,36119,"(41.1527698, -73.745912)",04/06/2019,201,169,32,0,...,NaN,NaN,88.0,NaN,0.042500,NaN,44.571429,54.428571,34.714286,NaN
19397,WESTCHESTER,2019,15,36119,"(41.1527698, -73.745912)",04/13/2019,133,110,23,0,...,NaN,NaN,41.0,NaN,0.158571,NaN,53.285714,62.142857,44.428571,NaN
19398,WESTCHESTER,2019,16,36119,"(41.1527698, -73.745912)",04/20/2019,88,60,26,2,...,NaN,NaN,27.0,NaN,0.278333,NaN,55.357143,63.285714,47.428571,NaN
19399,WESTCHESTER,2019,17,36119,"(41.1527698, -73.745912)",04/27/2019,41,28,13,0,...,NaN,NaN,25.0,NaN,0.324000,NaN,52.857143,60.285714,45.428571,NaN
19400,WESTCHESTER,2019,18,36119,"(41.1527698, -73.745912)",05/04/2019,27,15,11,1,...,NaN,NaN,16.0,NaN,0.318333,NaN,52.357143,59.142857,45.571429,NaN
19401,WESTCHESTER,2019,19,36119,"(41.1527698, -73.745912)",05/11/2019,25,14,11,0,...,NaN,NaN,7.0,NaN,0.233333,NaN,56.428571,64.571429,48.285714,NaN
19402,WESTCHESTER,2019,20,36119,"(41.1527698, -73.745912)",05/18/2019,16,8,8,0,...,NaN,NaN,8.0,NaN,0.163333,NaN,55.785714,65.142857,46.428571,NaN
19403,WESTCHESTER,2019,40,36119,"(41.1527698, -73.745912)",10/05/2019,7,7,0,0,...,NaN,NaN,19.0,NaN,0.136000,NaN,59.928571,69.142857,50.714286,NaN
19404,WESTCHESTER,2019,41,36119,"(41.1527698, -73.745912)",10/12/2019,8,6,2,0,...,NaN,NaN,18.0,NaN,0.135000,NaN,58.571429,65.285714,51.857143,NaN
19405,WESTCHESTER,2019,42,36119,"(41.1527698, -73.745912)",10/19/2019,19,17,2,0,...,NaN,NaN,12.0,NaN,0.493333,NaN,51.928571,60.714286,43.142857,NaN
19406,WESTCHESTER,2019,43,36119,"(41.1527698, -73.745912)",10/26/2019,18,14,4,0,...,NaN,NaN,NaN,NaN,0.476667,NaN,54.642857,63.428571,45.857143,NaN
19407,WESTCHESTER,2019,44,36119,"(41.1527698, -73.745912)",11/02/2019,12,8,4,0,...,NaN,NaN,NaN,NaN,0.157143,NaN,52.785714,60.285714,45.285714,NaN

In [47]:
def fill_snow(df, row):
    for column in ['SNOW', 'SNOWDepth']:
        if np.isnan(row[column]):
            row[column] = df[df['CDC Week'] == row['CDC Week']][column].mean()
    return row

In [50]:
new2 = new.apply(lambda x: fill_snow(new, x), axis=1)

In [54]:
new2.shape

(20080, 27)

In [52]:
new2.isna().sum()

County                               0
year                                 0
CDC Week                             0
FIPS                                 0
County Centroid                      0
Week Ending Date                     0
Count                                0
Disease_INFLUENZA_A                  0
Disease_INFLUENZA_B                  0
Disease_INFLUENZA_UNSPECIFIED        0
UnempRate                         1550
GDP                              12648
GDP_change                       14694
Population                        2294
flu                               1488
fluSymptoms                       1488
fever                             1488
cough                             1488
soreThroat                        1488
Target                             124
VaxRate                          10540
PRCP                                 0
SNOW                                 0
TAVG                                 0
TMAX                                 0
TMIN                                 0
SNOWDepth                            0
dtype: int64

In [55]:
new2.to_csv('datasets/master.csv')